/*ESTILO DE TXT PARA NUEVO PROFESOR*/
/*.txtNClave{
    margin-left: 27px;
    margin-top:5px;
}
.txtNNombre{
    margin-left: 20px;
    margin-top:5px;
}
.txtNApellidoPaterno{
    margin-left: 0;
    margin-top:5px;
}
.txtNApellidoMaterno{
    margin-left: 0;
    margin-top:5px;
}
.cmbNTipoProfesor{
    margin-left: 27px;
    margin-top:5px;
}
#horasTotales{
    margin-left: 95px;
    margin-top:5px;
}*/
/*ESTILO DE TXT PARA ACTUALIZAR PROFESOR*/
/*.txtAClave{
    margin-left: 93px;    
}
.txtANombre{
    margin-left: 72px;
}
.txtAApellidoPaterno{
    margin-left: 12px;    
}
.txtAApellidoMaterno{
    margin-left: 8px;
}
.cmbATipoProfesor{
    margin-left: 35px;
}
.cmbAProgramaEducativo{
    margin-left: 40px;
    width: 150px;
}*/
/*estilo de modales para el modal de asignar asignatura*/
/*.txtAHorasSemana{
    margin-left: 56px;
    margin-top: 5px;
}
.txtAHorasCuatrimestre{
    margin-top: 5px;
    margin-left: 24px;
}*/
/*
#<<p>You can use the mark tag to <mark>highlight</mark> text.</p>
>You can use the mark tag to <mark>highlight</mark> text.</p>
rogramaEducativo{
    margin-left: 44px;
    margin-top: 5px;
}
#especialidad{
    margin-left:97px;
    margin-top: 5px;
}
#cuatrimestre{
    margin-left:93px;
    margin-top: 5px;
}*/
/*#asignatura{
    margin-left:108px;
    margin-top: 5px;
}
#actividad{
    margin-left: 116px;
    margin-top: 5px;
}

#horasSemanales{
    margin-left:52px;
    margin-top:5px;
}
#horasCuatrimestrales{
    margin-left:20px;
    margin-top:5px;
}*/